@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-accent-50: #fcf5f4;
  --color-accent-100: #fae8e6;
  --color-accent-200: #f6d6d2;
  --color-accent-300: #efb9b2;
  --color-accent-400: #e07f73;
  --color-accent-500: #d66a5d;
  --color-accent-600: #c14f41;
  --color-accent-700: #a23f33;
  --color-accent-800: #86382e;
  --color-accent-900: #70332c;
  --color-accent-950: #3c1813;
  --color-back-primary: #1d1d1d;
}

:root {
  scrollbar-gutter: stable;
  font-family: 'Montserrat';
}

@layer base {
  body {
    @apply !h-fit max-w-screen overflow-x-hidden;
  }
  h1 {
    @apply text-4xl font-semibold my-4;
  }
  h2 {
    @apply text-3xl  my-4 border-b-2 border-gray-200 pb-2;
  }
  h3 {
    @apply text-2xl  my-4;
  }
  ul {
    @apply list-disc pl-4;
  }
  ol {
    @apply list-decimal pl-4;
  }
  a {
    @apply text-accent-500 hover:text-accent-600;
  }
  .markdown-alert {
    @apply bg-white/5;
    .markdown-alert-title {
      @apply font-semibold py-2;
    }
  }
  .download-btn {
    @apply text-white text-sm font-semibold py-2 px-4 border rounded-lg text-center;
    &:not(.main) {
      @apply bg-black text-white hover:bg-zinc-900 border-zinc-800;
    }
    &.main {
      @apply bg-gradient-to-br text-white bg-accent-500 border-accent-500 hover:bg-accent-800;
    }
  }
}
